.root {
  position: relative;
  display: block;
  margin-bottom: var(--margin);
  
  label {
    display: block;
    margin-bottom: var(--margin-small );
  }
  
  input {
    display: block;
    width: 100%;
    height: 52px;
    padding: var(--form-padding-small);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    border: 0;
    &::placeholder {
      color: var(--color-grey-300)
    }
  }
}

.error {
  input {
    -webkit-box-shadow:inset 0px 0px 0px 2px var(--color-error);
    -moz-box-shadow:inset 0px 0px 0px 2px var(--color-error);
    box-shadow:inset 0px 0px 0px 2px var(--color-error);
  }
}