@import '../../variables.scss';

.root {
  --min-height: 60vh;

  position: relative;
  box-sizing: border-box;
  padding: var(--padding);
  min-height: var(--min-height);
  width: 100%;
  background: var(--color-grey-500);
  background: linear-gradient(142deg, var(--color-grey-500) 0%, var(--color-grey-800) 100%);
  @include medium {
    --min-height: 100vh;
  }

  .loginWrapper {
    margin-bottom: var(--margin);

    @include medium {
      display: flex;
      flex-direction: column-reverse;
      align-items: stretch;
      align-content: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      transform: translateY(-24px);
      
    }
  }
  
  .legalText {
    position: relative;
    @include medium {
      position: absolute;
      bottom: var(--padding);
    }
  } 
}


