@import "variables.scss";

.root {
  display: block;
  padding: var(--padding);
  padding-top: 64px;
  padding-bottom: 128px;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  background: var(--color-grey-500);
  background: linear-gradient(142deg, var(--color-grey-500) 0%, var(--color-grey-800) 100%);
  min-height: 300px;
  border-radius: var(--border-radius);
  padding: var(--padding);
  box-sizing: border-box;
  width: 100vw;
  transform: translateX(-24px);

  @include medium {
    width: 100%;
    transform: unset;
  }
}