@import "variables.scss";

.root{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: var(--padding);
  box-sizing: border-box;

  .wrapper {
    max-width: 520px;
  }

  h1 {
    font-size: var(--font-size-heading-small);
    @include medium {
      font-size: var(--font-size-heading-medium)
    }
  }
}