.root {
  display: block;
  width: 100vw;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -52px;
  z-index: 2;
  animation-name: toastAnimation;
  animation-duration: 1.5s;
}

.success {
  background-color: var(--color-success);
}

.error {
  background-color: var(--color-error)
}

.message {
  color: var(--color-text-color)
}

@keyframes toastAnimation {
  5% { transform: translateY(52px); }
  95% { transform: translateY(52px); }
  100% { transform: translateY(0px); }
}