.root {
  display: block;
  width: 100vw;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.success {
  background-color: var(--color-success);
}

.error {
  background-color: var(--color-error)
}

.message {
  color: var(--color-text-color)
}
